<div>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="#">KEHKASHAN AUTOMATION</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/data">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/report">Reports</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/tdata">Test Data</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
  <div style="margin-top:20px">
    <button class="btn btn-success" onclick="myFunction()">Reload page</button> 
    <button class="btn btn-info" id="button">Download XLSX</button>  
    <br>
    <br>
    <div>
      <table class="table" id="table">
        <thead>
          <tr>
            <th scope="col">SNO</th>
            <th scope="col">DATA</th>
            <th scope="col">Date</th>
            <th scope="col">Time Stamp</th>
          </tr>
        </thead>
        {{#each records}}
        <tbody>
          <tr>
            <td>{{inc @index inc=1}}</td>
            <td>{{data}}</td>
            <td>{{date}}</td>
            <td>{{timestamp}}</td>
          </tr>
        </tbody>
        {{/each}}
      </table>
    </div>
  </div>
</div>
<script>
function myFunction() {
    location.reload();
}
$(function(){
  var ExportButtons = document.getElementById('table');
  var instance = new TableExport(ExportButtons, {
    formats: ['xlsx'],
    exportButtons: false,
    filename: 'Records'
  });
  var exportData = instance.getExportData()['table']['xlsx'];
  var XLSbutton = document.getElementById('button');
  XLSbutton.addEventListener('click', function (e) {
    //                   // data          // mime              // name              // extension
    instance.export2file(exportData.data, exportData.mimeType, exportData.filename, exportData.fileExtension);
  });

});
</script>